<html ng-app="mansi" ng-cloak="true">
  <div class="container">
    
    <div class="chat-pannel">
      <aside>
        <ul ng-controller="Ctrl as chat">
          <div ng-repeat="chat in chats">
            <li ng-click="uid(chat.id)">
              <p class="username">{{chat.username}}</p>
            </li>
          </div>
        </ul>
      </aside>
      <main ng-controller="Ctrl as chat">
        <div class="start">
          <i class="fa fa-inbox"></i>
          
        </div>
        <div class="loader">
          <p></p>
          <h4>Loading</h4>
        </div>
       
        <div class="text-wrap" ng-repeat="message in chats" ng-show="value == message.id">
          
          <div class="message" ng-repeat="i in message.messages track by $index">
            <p>{{i}}</p>
            
          </div>
        </div>
        <footer>
          <form ng-submit="add()">
            <input ng-model="text" placeholder="Enter a message" type="text"></input>
            <input type="submit" value="Send"></input>
          </form>
        </footer>
      </main>
    </div>
  </div>
</html>
